.form-login-container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .form-login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-login {
    display: flex;
    justify-content: end;
  }
}



:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  width: 400px;
}
