<mat-drawer-container class="dashboard-container" autosize>

  <mat-drawer #drawer class="example-sidenav nav-list" mode="side">
    <mat-nav-list>
      <a #homeLink="routerLinkActive" routerLinkActive [activated]="homeLink.isActive" routerLink="home"
        mat-list-item>Inicio</a>
      <a #usersLink="routerLinkActive" routerLinkActive [activated]="usersLink.isActive" routerLink="users"
        mat-list-item>Usuarios</a>
      <a #productsLink="routerLinkActive" routerLinkActive [activated]="productsLink.isActive" routerLink="products"
        mat-list-item>Cursos</a>
      <a mat-list-item>Cerrar sesion</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span appTittles>Cursos</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite-icon</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon></mat-icon>
      </button>
    </mat-toolbar>
    <div>
      <app-users></app-users>
    </div>
    <app-cursos></app-cursos>
  </div>

</mat-drawer-container>